:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --white-base-color: #fff;
  --third-background-color: #f5f4fa;
  --black-background-color: #2F303A;
  --black-text-color: #212121;
  --grey-text-color: #757575;
  --white-alfa-color: rgba(255, 255, 255, 0.6);
  --blue-accent-color: #2196F3;
}